@media only screen and (min-width: 768px) {
  /* For desktop: */
body {


background-image: url('bg 2.jpg');

}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}
iframe{
  border:none;
}

p {
  color:black;
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
	display: flex;
	max-width: 600px;
	
}

li {
  float: left;
	margin:auto;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: purple;}

.dropdown:hover .dropdown-content {
  display: block;
}
#beats {
    float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 1000px;
}
	#youtube{
		float:none;
		margin:auto;
		max-height:500px;
		max-width: 1000px;
		padding:10px;
		display:inline-block;
	}
#contact {
  float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 10000px;
}
#logo {
  float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 500px;
}
img {
  width: 100%;
  margin:auto;
  float:none;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: purple;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid purple;  /* creates padding around scroll thumb */
}
/* The navigation bar */
	#desktoponly{
		display: block;
	}
#links{
	display:none;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
	
}
@media only screen and (max-width: 600px) {
	.desktoponly{
		display:none;
	}
	#youtube{
		display:none;
		
	}
	#beats {
    float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 1000px;
}
#contact {
  float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 10000px;
}
#logo {
  float: none;
  margin: auto;
    max-height: 1000px;
    max-width: 500px;
}
img {
  width: 100%;
  margin:auto;
  float:none;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: purple;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid purple;  /* creates padding around scroll thumb */
}
	body {


background-image: url('bg 2.jpg');

}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}
iframe{
  border:none;
}

p {
  color:black;
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
	
}

li {
  float: left;
	
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
}
